{% load static %}

<!doctype html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Solicitud de Alquiler</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <style>
        @page {
            size: "A4";
            margin: 1.0cm 1.5cm 3.5cm 1.5cm;
        }
        body {
            width: 100% !important;
            height: 100%;
            background: #fff;
            color: black;
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
            line-height: 1.65;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none; 
        }
    </style>
</head>
    <body>

        <img src="{% static 'images/logo.png'%}" style="width: 100px"/>
        
        <div style="padding-top: 10%; width:70%; margin:auto">
        	<h3 style="text-align:center">Reserva de Alquiler</h3> <br/>

        <p style="text-align:center" >D. Dª: {{alquiler.inquilino.nombre|capfirst}} {{alquiler.inquilino.primer_apellido|capfirst}} {{alquiler.inquilino.segundo_apellido|capfirst}}, con DNI: {{alquiler.inquilino.dni}} </p><br/>
            <p style="text-align:center; color:#012e67;"><b>SOLICITA:</b></p>

        <p style="text-align:justify">El alquiler del inmueble situado en la dirección: {{alquiler.oferta.inmueble.direccion}}.({{alquiler.oferta.inmueble.get_localizacion_display|upper}}) por un periodo de {{alquiler.meses}} meses.<br/>
            <br/>
        
        El importe total de la operción es de {{alquiler.precio_final|floatformat:0}}€

        La empresa que realiza la oferta es "{{alquiler.oferta.vendedor.empresa.razon_social}}", la cual recoge está reserva y se pondrá en contacto con el solicitante a través de el trabajador que gestiona esta oferta, {{alquiler.oferta.vendedor.nombre|capfirst}} {{alquiler.oferta.vendedor.primer_apellido}} {{alquiler.oferta.vendedor.segundo_apellido}}    	 

        <div style="padding-top: 5%;padding-left: 10%;">
            Agradecemos su Confianza <br/>
            <br/>

            <p style="text-align:right">Su solicitud queda registrada con fecha {{alquiler.created_at|date:'d-M-Y'}} <br/>Referencia de la operacion: EC{{alquiler.id}}</p>
        </div>

        <div style="padding-top: 25%;float:right;">
                <img src="{% static 'images/logo.png'%}" style="width: 100px"/>
        </div>
    </body>
</html>