{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}
{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}


{% block content %}

<div style="width:90%; margin:60px auto;">
	<p style="text-align:center;font-size:15; color:green; padding-top:10px">{{mensajeRegistro}}</p>
	<p style="text-align:center;font-size:15; color:red; padding-top:10px">{{error}}</p>
	<div id="accordion" >
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Propietario
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						<p style="text-align:center; font-size:10; color:red">
							{%for e in erroresPropietario%}
								{{e}}<br/>
							{%endfor%}
						</p>
						<form action="." enctype="multipart/form-data" method="POST">
					        {%csrf_token %}
							<table width="90%" style="margin:auto;d">
								<tr>
									
									<td style="padding:1%">Nombre:<br/>{{formularioPropietario.nombre}}
										<p class="errores">
											<span id="errorNombre"></span>
										</p>
									</td>
									<td style="padding:1%">Primer Apellido<br/>{{formularioPropietario.primer_apellido}}
										<p class="errores">
											<span id="errorPrimerApellido"></span>
										</p>
									</td>
									<td style="padding:1%">Segundo Apellido <br/>{{formularioPropietario.segundo_apellido}}
										<p class="errores">
											<span id="errorSegundoApellido"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:1%">DNI:<br/>{{formularioPropietario.dni}}
										<p class="errores">
											<span id="errordni">{{mensajedni}}</span>
										</p>
									</td>
									<td  style="padding:1%">Telefono<br/>{{formularioPropietario.telefono}}
										<p class="errores">
											<span id="errorTelefono"></span>
										</p>
									</td>
									<td style="padding:1%;padding-top:3%; "><button class="btn btn-primary btn-block">Crear Propietario</button></button></td>

								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Inmueble
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						<p style="text-align:center; font-size:10; color:red">
							{%for e in erroresInmueble%}
								{{e}}<br/>
							{%endfor%}
						</p>
						<form action="." enctype="multipart/form-data" method="POST">
					        {%csrf_token %}
							<table width="90%" style="margin:auto">
								<tr>
									<td style="padding:10px">
										Propietario: 
										<br/>{{formularioInmueble.propietario}}
										<p id="errores">
											<span id="errorPropietario"></span>
										</p>
									</td>
									<td style="padding:10px">
										Direccion:<br/> 
										{{formularioInmueble.direccion}}
										<p id="errores">
											<span id="errorDireccion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Localización:<br/>
										{{formularioInmueble.localizacion}}
										<p id="errores">
											<span id="errorLocalizacion"></span>
										</p>
									</td>
								</tr>
								<tr>	
									<td style="padding:10px">
										Código Postal: <br/>
										{{formularioInmueble.codigo_postal}}
										<p id="errores">
											<span id="errorCodigoPostal"></span>
										</p>
									</td>
									<td style="padding:10px">
										Año Construcción:<br/>
										{{formularioInmueble.construccion}}
										<p id="errores">
											<span id="errorConstruccion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Metros: <br/>
										{{formularioInmueble.metros}}
										<p id="errores">
											<span id="errorMetros"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:10px">
										Nº Habitaciones:<br/>
										{{formularioInmueble.habitacion}}
										<p id="errores">
											<span id="errorHabitaciones"></span>
										</p>
									</td>
									<td style="padding:10px">
										Planta:<br/>
										{{formularioInmueble.planta}}
										<p id="errores">
											<span id="errorPlanta"></span>
										</p>
									</td>
									<td style="padding:10px">
										Baños:<br/>
										{{formularioInmueble.wc}}
										<p id="errores">
											<span id="errorWc"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:10px">
										Orientación:<br/>
										{{formularioInmueble.orientacion}}
										<p id="errores">
											<span id="errorOrientacion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Precio Comunidad:<br/>
										{{formularioInmueble.comunidad}}
										<p id="errores">
											<span id="errorComunidad"></span>
										</p>
									</td>
									<td style="padding:10px">
										Ascensor: {{formularioInmueble.ascensor}}
										Terraza: {{formularioInmueble.terraza}}
										Patio:{{formularioInmueble.patio}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="padding:10px">
										Observaciones:<br/>
										{{formularioInmueble.observacion}}
										<p id="errores">
											<span id="errorObservaciones"></span>
										</p>

									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Fachada: 
										{{formularioInmueble.imagenPrincipal}}
										<p id="errores">
											<span id="errorFoto"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 1:
										{{formularioInmueble.imagen1}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 2:
										{{formularioInmueble.imagen2}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 3:
										{{formularioInmueble.imagen3}}
									</td>
								</tr>
								<tr>
									<td colspan="4"style="text-align:center; padding:10px" >
										Imagen 4:
										{{formularioInmueble.imagen4}}
									</td>
								</tr>
								<tr>
									<td colspan="4"style="text-align:center; padding:10px" >
										<button type="submit" class="btn btn-primary"> Crear Inmueble</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Oferta
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						<p style="text-align:center; font-size:10; color:red">
							{%for e in erroresOferta%}
								{{e}}<br/>
							{%endfor%}
						</p>
						<form action="." enctype="multipart/form-data" method="POST">
					        {%csrf_token %}
							<table width="90%" style="margin:auto;d">
								<tr>
									<td style="padding:1%">Inmueble:<br/>{{formularioOferta.inmueble}}
										<p class="errores">
											<span id="errorInmueble"></span>
										</p>
									</td>
									<td style="padding:1%">Tipo: <i style="font-size:10"> (1 para Alquileres, 2 para Ventas)</i><br/>{{formularioOferta.tipo}}
										<p class="errores">
											<span id="errorTipo"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:1%">Precio<br/>{{formularioOferta.precio}}
										<p class="errores">
											<span id="errorPrecio"></span>
										</p>
									</td>
									<td style="padding:1%">Descuento:<br/>{{formularioOferta.descuento}}
										<p class="errores">
											<span id="errorDescuento"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="padding:1%;padding-top:3%;text-align:center">
										 <input id="usuario" name="usuario" type="hidden" value={{user.id}}>
										<button class="btn btn-primary">Crear Oferta</button></button></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>


<script> 

let nombre=document.getElementById("id_nombre");
let primerApellido=document.getElementById("id_primer_apellido");
let segundoApellido=document.getElementById("id_segundo_apellido");
let dni=document.getElementById("id_dni");
let telefono=document.getElementById("id_telefono");

let codigoPostal=document.getElementById("id_codigo_postal");
let construccion=document.getElementById("id_construccion");
let metros=document.getElementById("id_metros");
let planta=document.getElementById("id_planta");
let wc=document.getElementById("id_wc");
let orientacion=document.getElementById("id_orientacion");
let comunidad=document.getElementById("id_comunidad");
let terraza=document.getElementById("id_terraza");
let ascensor=document.getElementById("id_ascensor");
let patio=document.getElementById("id_patio");
let observacion=document.getElementById("id_observacion");
let imagen=document.getElementById("id_imagenPrincipal")

let tipo=document.getElementById("id_tipo");
let precio=document.getElementById("id_precio");
let descuento=document.getElementById("id_descuento")

window.addEventListener("load", () => {
	nombre.addEventListener("focusout",validarNombre);
	primerApellido.addEventListener("focusout",validarPrimerApellido);
	segundoApellido.addEventListener("focusout",validarSegundoApellido);
	dni.addEventListener("focusout",validarDni);
	telefono.addEventListener("keypress", validarNumeros);
	telefono.addEventListener("focusout",validarTelefono);

	codigoPostal.addEventListener("keypress", validarNumeros);
	codigoPostal.addEventListener("focusout",validarCodigo)
	construccion.addEventListener("keypress", validarNumeros);
	construccion.addEventListener("focusout",validarConstruccion); 
	metros.addEventListener("keypress", validarNumeros);
	planta.addEventListener("keypress",validarNumeros);
	planta.addEventListener("focusout",validarPlanta);
	wc.addEventListener("keypress", validarNumeros);
	wc.addEventListener("focusout", validarWc);
	comunidad.addEventListener("keypress", validarNumeros);

	descuento.setAttribute("min",0);
    descuento.setAttribute("max",100);
    descuento.setAttribute("step",0.01);
    precio.setAttribute("min",0);
    precio.setAttribute("step",0.01);
	tipo.addEventListener("focusout", validarTipo);
	

})

function validarNombre(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorNombre"); 
    if (!expresion.test(nombre.value)) {
        spam.innerHTML = "Debe introducir un nombre correcto";
        nombre.focus();
    } else{
        spam.innerHTML = "";
    }   
}

function validarPrimerApellido(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorNombre"); 
    if (!expresion.test(nombre.value)) {
        spam.innerHTML = "Debe introducir un apellido correcto";
        nombre.focus();
    } else{
        spam.innerHTML = "";
    }   
} 

function validarSegundoApellido(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorNombre"); 
    if (!expresion.test(nombre.value)) {
        spam.innerHTML = "Debe introducir un apellido correcto";
        nombre.focus();
    } else{
        spam.innerHTML = "";
    }   
 } 

function validarDni(){
 
    let expresion =/^\d{8}[a-zA-Z]{1}$/;
    let spam = document.getElementById("errorDni"); 
    if (!expresion.test(dni.value)) {
        spam.innerHTML = "Debe introducir un numero de ocho digitos seguido de una letra";
        dni.focus();
    } else{
        let numero;
        let letra;
        let clave;
        numero=dni.value.substr(0,dni.value.length-1);
        letra=dni.value.substr(dni.value.length-1,1);
        letra=letra.toUpperCase();
        numero=numero%23;
        clave="TRWAGMYFPDXBNJZSQVHLCKET";
        clave=clave.substring(numero,numero+1);
        if(clave!=letra){
            spam.innerHTML = "DNI incorrecto";
            dni.focus();
        }else{
            spam.innerHTML = "";
        }
    }
    
 }

function validarTelefono(){
    let expresion =/^[0-9]{9}$/;
    let spam=document.getElementById("errortelefono")
     if (!expresion.test(telefono.value)) {
        spam.innerHTML = "Debe introducir un telefono correcto";
        telefono.focus();
    } else{
        spam.innerHTML = "";
    }  
}


function validarNumeros(e) {
    let evento = e || event;
    if (evento.which < 48 || evento.which > 57) {
        e.preventDefault();
    }
}

function validarCodigo(){
    let expresion =/^[0-9]{5}$/;
    let span=document.getElementById("errorCodigoPostal")
     if (!expresion.test(codigoPostal.value)) {
        span.innerHTML = "Debe introducir un número de cinco dígitos";
        codigoPostal.focus();
    } else{
        span.innerHTML = "";
    }  
}

function validarConstruccion(){
    let expresion =/^[0-9]{4}$/;
    let span=document.getElementById("errorConstruccion")
     if (!expresion.test(construccion.value)) {
        span.innerHTML = "Debe introducir un número de 4 dígitos";
        construccion.focus();
    } else{
    	if((construccion.value>"{{year}}") || (construccion.value<"1900")){
        	span.innerHTML = "No es un año válido";
        	construccion.focus();
    	}else{
    		span.innerHTML = "";
    	}

    }  
}

function validarPlanta(){
    let span=document.getElementById("errorPlanta")
     if ((planta.value<0)|| (planta.value>60)){
        span.innerHTML = "El valor no es correcto.";
        planta.focus();
    } else{
    	span.innerHTML = "";
    	}
} 

function validarWc(){
    let span=document.getElementById("errorWc")
     if ((wc.value<0)|| (wc.value>20)){
        span.innerHTML = "El valor no es correcto.";
        wc.focus();
    } else{
    	span.innerHTML = "";
    	}
}  


function validarTipo(){
	let span=document.getElementById("errorTipo")
	if ((tipo.value==1) || (tipo.value==2)){
		span.innerHTML = "";
	}
	else{
		span.innerHTML = "Solo se permiten los valores: 1 para Alquileres o 2 para Ventas";
        wc.focus();
	}
}

</script>



{% endblock content %}