{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}


{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}


{% block content %}
<div style="width:70%; margin:100px auto;">
	<div id="accordion" >
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Propietario
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						form propietario
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Inmueble
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						<form action="." method="POST">
					        {%csrf_token %}
							<table width="90%" style="margin:auto">
								<tr>
									<td style="padding:10px">
										Propietario: 
										<br/>{{formularioInmueble.propietario}}
										<p id="errores">
											<span id="errorPropietario"></span>
										</p>
									</td>
									<td style="padding:10px">
										Direccion:<br/> 
										{{formularioInmueble.direccion}}
										<p id="errores">
											<span id="errorDireccion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Localización:<br/>
										{{formularioInmueble.localizacion}}
										<p id="errores">
											<span id="errorLocalizacion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Código Postal: <br/>
										{{formularioInmueble.codigo_postal}}
										<p id="errores">
											<span id="errorCodigoPostal"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:10px">
										Año Construcción:<br/>
										{{formularioInmueble.construccion}}
										<p id="errores">
											<span id="errorConstruccion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Metros: <br/>
										{{formularioInmueble.metros}}
										<p id="errores">
											<span id="errorMetros"></span>
										</p>
									</td>
									<td style="padding:10px">
										Nº Habitaciones:<br/>
										{{formularioInmueble.habitacion}}
										<p id="errores">
											<span id="errorHabitaciones"></span>
										</p>
									</td>
									<td style="padding:10px">
										Planta:<br/>
										{{formularioInmueble.planta}}
										<p id="errores">
											<span id="errorPlanta"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding:10px">
										Baños:<br/>
										{{formularioInmueble.wc}}
										<p id="errores">
											<span id="errorWc"></span>
										</p>
									</td>
									<td style="padding:10px">
										Orientación:<br/>
										{{formularioInmueble.orientacion}}
										<p id="errores">
											<span id="errorOrientacion"></span>
										</p>
									</td>
									<td style="padding:10px">
										Precio Comunidad:<br/>
										{{formularioInmueble.comunidad}}
										<p id="errores">
											<span id="errorComunidad"></span>
										</p>
									</td>
									<td style="padding:10px">
										Ascensor: {{formularioInmueble.ascensor}}
										Terraza: {{formularioInmueble.terraza}}
										Patio:{{formularioInmueble.patio}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="padding:10px">
										Observaciones:<br/>
										{{formularioInmueble.observacion}}
										<p id="errores">
											<span id="errorObservaciones"></span>
										</p>

									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Fachada: 
										{{formularioInmueble.imagenPrincipal}}
										<p id="errores">
											<span id="errorFoto"></span>
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 1:
										{{formularioInmueble.imagen1}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 2:
										{{formularioInmueble.imagen2}}
									</td>
								</tr>
								<tr>
									<td colspan="4" style="text-align:center; padding:10px">
										Imagen 3:
										{{formularioInmueble.imagen3}}
									</td>
								</tr>
								<tr>
									<td colspan="4"style="text-align:center; padding:10px" >
										Imagen 4:
										{{formularioInmueble.imagen4}}
									</td>
								</tr>
								<tr>
									<td colspan="4"style="text-align:center; padding:10px" >
										<button type="submit" class="btn btn-primary"> Crear Inmueble</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Alta Oferta
					</button>
				</h5>
			</div>
			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<div id="annadir" class="card" style="width: 90%; margin: auto; margin-top: 3%; border-radius:15px; border: solid 2px #919191; padding: 20px;">
						form Oferta
					</div>
				</div>
			</div>
		</div>





	</div>
</div>





<script> 

let codigoPostal=document.getElementById("id_codigo_postal");
let construccion=document.getElementById("id_construccion");
let metros=document.getElementById("id_metros");
let planta=document.getElementById("id_planta");
let wc=document.getElementById("id_wc");
let orientacion=document.getElementById("id_orientacion");
let comunidad=document.getElementById("id_comunidad");
let terraza=document.getElementById("id_terraza");
let ascensor=document.getElementById("id_ascensor");
let patio=document.getElementById("id_patio");
let observacion=document.getElementById("id_observacion");
let imagen=document.getElementById("id_imagenPrincipal")

window.addEventListener("load", () => {

	codigoPostal.addEventListener("keypress", validarNumeros);
	codigoPostal.addEventListener("focusout",validarCodigo)
	construccion.addEventListener("keypress", validarNumeros);
	construccion.addEventListener("focusout",validarConstruccion); 
	metros.addEventListener("keypress", validarNumeros);
	planta.addEventListener("keypress",validarNumeros);
	planta.addEventListener("focusout",validarPlanta);
	wc.addEventListener("keypress", validarNumeros);
	wc.addEventListener("focusout", validarWc);
	comunidad.addEventListener("keypress", validarNumeros);
	

})
    
function validarNumeros(e) {
    console.log("entra")
    let evento = e || event;
    if (evento.which < 48 || evento.which > 57) {
        e.preventDefault();
    }
}

function validarCodigo(){
    let expresion =/^[0-9]{5}$/;
    let span=document.getElementById("errorCodigoPostal")
     if (!expresion.test(codigoPostal.value)) {
        span.innerHTML = "Debe introducir un número de cinco dígitos";
        codigoPostal.focus();
    } else{
        span.innerHTML = "";
    }  
}

function validarConstruccion(){
    let expresion =/^[0-9]{4}$/;
    let span=document.getElementById("errorConstruccion")
     if (!expresion.test(construccion.value)) {
        span.innerHTML = "Debe introducir un número de 4 dígitos";
        construccion.focus();
    } else{
    	if((construccion.value>"{{year}}") || (construccion.value<"1900")){
        	span.innerHTML = "No es un año válido";
        	construccion.focus();
    	}else{
    		span.innerHTML = "";
    	}

    }  
}

function validarPlanta(){
    let span=document.getElementById("errorPlanta")
     if ((planta.value<0)|| (planta.value>60)){
        span.innerHTML = "El valor no es correcto.";
        planta.focus();
    } else{
    	span.innerHTML = "";
    	}
} 
function validarWc(){
    let span=document.getElementById("errorWc")
     if ((wc.value<0)|| (wc.value>20)){
        span.innerHTML = "El valor no es correcto.";
        wc.focus();
    } else{
    	span.innerHTML = "";
    	}
}  


</script>










{% endblock content %}