{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}
{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}
{% block content %}

<div id="eliminar" class="card">

	<p style="text-align:center">
		Esta acción no podrá deshacerse, esta seguro que quiere elimniarla:
		<br /><br />
		- Dirección: {{venta.oferta.inmueble.direccion}}<br />
		- Cliente: {{venta.comprador}}<br />
		- Precio:{{venta.oferta.precio|floatformat:0|intcomma}}€<br /><br />
		{%if venta.aprobada%}

		- Esta operación se encuentra aprobada.

		{%else%}

		- Esta operación no está aprobada aún.
		{%endif%}
	</p>
	<div style="text-align:center;">
		<a href="{% url 'app_operaciones:Gestion' user.id %}">
			<button class="btn btn-primary">&nbsp;Volver&nbsp;</button>
		</a>
		<br /><br />
		<form action="" method="post">
			{% csrf_token %}
			<input id="venta" name="venta" type="hidden" value={{venta.id}}>
			<input id="user" name="user" type="hidden" value={{user.id}}>
			<button type="submit" class="btn btn-danger">&nbsp;Eliminar&nbsp;</button>
		</form>
	</div>
</div>

{% endblock content %}