{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Encuentra Piso{% endblock %}

{% block head %}
 {% include 'cabecera.html' %}
{% endblock head %}
{% block content %}


<div style=" width:60%;margin:25px auto;">

  {%if inmueble.tipo == "2" %}
  <h2>Piso en venta en {{inmueble.inmueble.get_localizacion_display|upper}}</h2>
  
  {%else%}
<h2>Piso en alquiler en {{inmueble.inmueble.get_localizacion_display|upper}}</h2>
  {%endif%}
</div>



<table width="50%" id="info" style="margin:10px auto;">
  <tr>
    <td colspan="3">
      <a target="_self" href="{{inmueble.inmueble.imagenPrincipal.url}}">
        <img src="{{inmueble.inmueble.imagenPrincipal.url}}" width="600px"alt="{{inmueble.direccion}}" />
      </a>
    </td>
    <td>
      <table>
        <tr>
          <td style="padding:10px;" ><u>CARACTERÍSTICAS: </u></td>
        </tr>
        <tr>
          <td style="padding:2px;"> {{inmueble.inmueble.planta}}ª Planta</td>
        </tr>
        <tr>
          <td style="padding:2px;"> {{inmueble.inmueble.metros}} Metros</td>
        </tr>
        <tr>
          <td style="padding:2px;">{{inmueble.inmueble.get_habitacion_display}}</td>
        </tr>
        <tr>
          <td style="padding:2px;">{{inmueble.inmueble.wc}} Baños</td>
        </tr>
        <tr>
          <td style="padding:2px;">Orientación {{inmueble.inmueble.get_orientacion_display}}</td>
        </tr>
        <tr>
          <td style="padding:2px;">Construido en: {{inmueble.inmueble.construccion}}</td>
        </tr>
        <tr>
          <td style="padding:2px;">Comunidad: {{inmueble.inmueble.comunidad}}€ </td>
        </tr>
        <tr>
          <td style="padding:2px;">Ascensor:
            {%if inmueble.inmueble.ascensor%}
              Si
            {%else%}
              No
            {%endif%}
          </td>
        </tr>
        <tr>
          <td style="padding:2px;">Terraza:
              {%if inmueble.inmueble.terraza%}
              Si
            {%else%}
              No
            {%endif%}
          </td>
        </tr>
        <tr>
          <td style="padding:2px;">Patio:
              {%if inmueble.inmueble.patio%}
              Si
            {%else%}
              No
            {%endif%}
          </td>
        </tr>
        <tr>
          <td style="padding:2px;">Precio: <b>{{inmueble.precio|floatformat:0|intcomma }}€</b>
          </td>
        </tr>
        <tr>
          <td style="padding-top:25px; padding-left:10px;">Referencia:
            EP{{inmueble.id}}
          </td>
        </tr>
                    
      </table>

      </td>
  </tr>
  <tr>
    <td style="width:25%;">
      <a target="_self" href="{{inmueble.inmueble.imagen1.url}}">
        <img src="{{inmueble.inmueble.imagen1.url}}" width="200px"alt="{{inmueble.direccion}}" />
      </a>
    </td>
    <td style="width:25%;">
      <a target="_self" href="{{inmueble.inmueble.imagen2.url}}">
        <img src="{{inmueble.inmueble.imagen2.url}}" width="200px"alt="{{inmueble.direccion}}" />
      </a>
    </td>
    <td style="width:25%;">
      <a target="_self" href="{{inmueble.inmueble.imagen3.url}}">
        <img src="{{inmueble.inmueble.imagen3.url}}" width="200px"alt="{{inmueble.direccion}}" />
      </a>
    </td>
    <td style="width:25%;">
      <a target="_self" href="{{inmueble.inmueble.imagen4.url}}">
        <img src="{{inmueble.inmueble.imagen4.url}}" width="200px"alt="{{inmueble.direccion}}" />
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      Más información:<br/><br/> {{inmueble.inmueble.observacion}}
    </td>           
  </tr>
  <tr>
    <td colspan="4" style="text-align:center"> 
      Contactar para más información:<br/>
      <b>{{inmueble.vendedor.nombre}}</b>:{{inmueble.vendedor.telefono}}<br/>
      Inmobiliaria {{inmueble.vendedor.empresa|upper}}
    </td>
  </tr>
</table>

<hr>
{%if inmueble.tipo == "1" %}
  <div style="text-align:center">
    <b style="color:#012e67">Quizás le interese también estos alquileres:<b/><br/><br/>
  </div>

  {%for o in opciones%}
    {%if o.inmueble.localizacion == inmueble.inmueble.localizacion and o.tipo == "1" %}
      {% if not o.inmueble.id == inmueble.inmueble.id%}
   
        <div style="text-align:center">
          <table width="50%" id="info" style="margin:10px auto;">
            <tr>
              <td width="25%" style="text-align:right">
                <a href="{% url 'app_inmuebles:Info' o.id %}"class="text-decoration-none">
                  <img src={{o.inmueble.imagenPrincipal.url}} width="300px">
                </a>
              </td> 
              <td style="text-align:center">
                <h4>{{o.inmueble.get_localizacion_display|upper}}</h4>
                    {{o.inmueble.planta}}ª Planta <br/>
                    {{o.inmueble.get_habitacion_display}} <br/>
                    {{o.inmueble.wc}} Baños <br/>
                    Precio: <b>{{o.precio|floatformat:0|intcomma }}€</b><br/>
                    {{o.referencia}}
                    Referencia:EP{{o.id}}
              </td> 
            </tr>
          </table>
        </div>
      {%endif%}
    {%endif%}
  {%endfor%}
  <div style="text-align:center">
    <table width="50%" id="info" style="margin:10px auto;">
      <tr>
        <td width="25%" style="text-align:right">
          <a href="{% url 'app_inmuebles:Info' alquiler.id %}"class="text-decoration-none">
            <img src={{alquiler.inmueble.imagenPrincipal.url}} width="300px">
          </a>
        </td> 
        <td style="text-align:center">
          <h4>{{alquiler.inmueble.get_localizacion_display|upper}}</h4>
              {{alquiler.inmueble.planta}}ª Planta <br/>
              {{alquiler.inmueble.get_habitacion_display}} <br/>
              {{alquiler.inmueble.wc}} Baños <br/>
              Precio: <b>{{alquiler.precio|floatformat:0|intcomma }}€</b><br/>
              {{alquiler.referencia}}
              Referencia:EP{{alquiler.id}}
        </td> 
      </tr>
    </table>
  </div>

{%else %}
  <div style="text-align:center">
    <b style="color:#012e67">Quizás le interese también estos pisos en venta:<b/><br/><br/>
  </div>

  {%for o in opciones%}
    {%if o.inmueble.localizacion == inmueble.inmueble.localizacion and o.tipo == "2" %}
      {% if not o.inmueble.id == inmueble.inmueble.id%}
   
        <div style="text-align:center">
          <table width="50%" id="info" style="margin:10px auto;">
            <tr>
              <td width="25%" style="text-align:right">
                <a href="{% url 'app_inmuebles:Info' o.id %}"class="text-decoration-none">
                  <img src={{o.inmueble.imagenPrincipal.url}} width="300px">
                </a>
              </td> 
              <td style="text-align:center">
                <h4>{{o.inmueble.get_localizacion_display|upper}}</h4>
                    {{o.inmueble.planta}}ª Planta <br/>
                    {{o.inmueble.get_habitacion_display}} <br/>
                    {{o.inmueble.wc}} Baños <br/>
                    Precio: <b>{{o.precio|floatformat:0|intcomma }}€</b><br/>
                    {{o.referencia}}
                    Referencia:EP{{0.id}}
              </td> 
            </tr>
          </table>
        </div>
      {%endif%}
    {%endif%}
  {%endfor%}
  <div style="text-align:center">
    <table width="50%" id="info" style="margin:10px auto;">
      <tr>
        <td width="25%" style="text-align:right">
          <a href="{% url 'app_inmuebles:Info' venta.id %}"class="text-decoration-none">
            <img src={{venta.inmueble.imagenPrincipal.url}} width="300px">
          </a>
        </td> 
        <td style="text-align:center">
          <h4>{{venta.inmueble.get_localizacion_display|upper}}</h4>
              {{venta.inmueble.planta}}ª Planta <br/>
              {{venta.inmueble.get_habitacion_display}} <br/>
              {{venta.inmueble.wc}} Baños <br/>
              Precio: <b>{{venta.precio|floatformat:0|intcomma }}€</b><br/>
              {{venta.referencia}}
              Referencia:EP{{venta.id}}
        </td> 
      </tr>
    </table>
  </div>




{%endif%}
<hr/>





<center>
  <a href="{% url 'app_inmuebles:home'%}">
<button type="button" class="btn btn-primary btn-lg" style="margin:20px;background-color: #012e67">Volver</button>
</a>
</center>
{% endblock content %}
