{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}


{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}



{% block content %}
<center>
<h3>
{%if contVentas %}
Actualmente tienes {{contVentas}} solicitud de Venta
{%else%}
Actualmete no tiene ninguna solicitud de Venta
{%endif%}
</h3>
</center>
<ul>
	{% for v in ventas %}
	<ol style="margin:20px">
		<table style="margin:auto;"width="75%">
			<tr style="padding:10px">
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:20px 10px; margin:10px 10px">
					<div id="foto">
    					<a href="{% url 'app_inmuebles:Info' v.oferta.id %}"class="text-decoration-none">
    						<img src={{v.oferta.inmueble.imagenPrincipal.url}} width="200px">
          				</a>
        			</div>
        		</td>
        		<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
        			<div>
        				{{v.oferta.inmueble.direccion}} <br/>{{v.oferta.inmueble.codigo_postal}}
          				({{v.oferta.inmueble.get_localizacion_display|upper}})<br/>
          				{{v.precio_final|floatformat:0|intcomma }}€<br/>
          				{{v.fecha|date:'d-M-Y' }}<br/>
          				Ref:EP{{v.id}}
       				</div>  	 
				</td>
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
					 <form action="" method="post">
					 	{% csrf_token %}
					 	<input id="venta" name="venta" type="hidden" value={{v.id}}>
					 	<input id="user" name="user" type="hidden" value={{user.id}}>
							<button type="submit" class="btn btn-danger" >Cancelar la Solicitud </button>
					</form>

				</td>
        	</tr>
   		</table>


	</ol>
	{% endfor %}
</ul>
<hr/>
<center>
<h3>
{%if contAlquileres %}
Actualmente tienes {{contAlquileres}} Alquileres Registrados
{%else%}
Actualmete no tiene ningún Alquiler Registrado. 
{%endif%}
</h3>
</center>
<ul>
	{% for a in alquileres %}
	<ol style="margin:20px">
		<table style="margin:auto;"width="75%">
			<tr style="padding:10px">
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:20px 10px; margin:10px 10px">
					<div id="foto">
    					<a href="{% url 'app_inmuebles:Info' a.oferta.id %}"class="text-decoration-none">
    						<img src={{a.oferta.inmueble.imagenPrincipal.url}} width="200px">
          				</a>
        			</div>
        		</td>
        		<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
        			<div>
        				{{a.oferta.inmueble.direccion}} <br/>{{a.oferta.inmueble.codigo_postal}}
          				({{a.oferta.inmueble.get_localizacion_display|upper}})<br/>
          				{{a.precio_final|floatformat:0|intcomma }}€<br/>
          				{{a.fecha|date:'d-M-Y' }}<br/>
          				Ref:EP{{a.id}}
       				</div>  	 
				</td>
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
					 <form action="" method="post">
					 	{% csrf_token %}
					 	<input id="alquiler" name="alquiler" type="hidden" value={{a.id}}>
					 	<input id="user" name="user" type="hidden" value={{user.id}}>
							<button type="submit" class="btn btn-danger" >Cancelar Alquiler </button>
					</form>

				</td>
        	</tr>
   		</table>


	</ol>
	{% endfor %}
</ul>

{% endblock content %}