{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}


{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}



{% block content %}
<center>
<h3>
{%if contVentas %}
Actualmente tienes {{contVentas}} solicitud de Venta
{%endif%}
</h3>
</center>
<ul>
	{% for v in ventas %}
	<ol style="margin:20px">
		<table style="margin:auto;"width="75%">
			<tr style="padding:10px">
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:20px 10px; margin:10px 10px">
					<div id="foto">
    					<a href="{% url 'app_inmuebles:Info' v.oferta.id %}"class="text-decoration-none">
    						<img src={{v.oferta.inmueble.imagenPrincipal.url}} width="200px">
          				</a>
        			</div>
        		</td>
        		<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
        			<div>
          				<p stytle="font-weight:bold;padding-button:15px"><u><b>{{v.oferta.inmueble.get_localizacion_display|upper}}</b></u></p>
          				{{v.oferta.precio|floatformat:0|intcomma }}€<br/>
          				{{v.oferta.inmueble.get_habitacion_display}}<br/>
          				{{v.oferta.inmueble.metros}} mtrs<br/>
          				Ref:EP{{o.id}}
       				</div>  	 
				</td>
				<td width="20%" align="center" style="background-color:#c5dcf6; padding:10px 10px">
					 <form action="" method="post">
					 	{% csrf_token %}
					 	<input id="fav" name="venta" type="hidden" value={{v.id}}>
							<button type="submit" class="btn btn-danger" >Cancelar la Solicitud </button>
					</form>

				</td>
        	</tr>
   		</table>


	</ol>
	{% endfor %}
</ul>


{% endblock content %}