{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Encuentra Piso{% endblock %}
{% block head %}
{% include 'cabecera.html' %}
{% endblock head %}
{% block content %}
<center>
<h3 style="width: 60%;margin: auto; padding-top:1em"> Se va a dar de alta como trabajador de la empresa: <br/> {{empresa.razon_social}}</h3>
</center>

<div id="registro" class="card">

    <form action="" enctype="multipart/form-data" method="POST">
        {%csrf_token %} 
        <table width="100%" id="tablaregistrouser">

            <tr >
            {% for field in form %}
                <td style="text-align:left; width:50%" >
                    {{ field.label_tag }}<br/>
                    {{ field }}

                    {% if forloop.counter|divisibleby:"3" %}
                        <spam id="errorPass1"style="font-size:10px;color: #FF0000;"></spam>
                    {%endif%}              

                    {% if forloop.last %}
                        <spam id="errorPass2"style="font-size:10px;color: #FF0000;"></spam>
                    {%endif%}
                </td> 
                
                {% if forloop.counter|divisibleby:"2" %}
            </tr>
            <tr style="background-color:#FFFFFF;;">

                {% endif %}
                {% endfor %}

            </tr>
        </table>
          
        <hr/>     
        <table id="tablaRegistro" width="100%">
            <tr>
                <td>
                    <label>DNI: </label>
                    {{formDatos.dni}}
                    <p id="errores">
                         <span id="errorDni">{{mensajedni}}</span>
                    </p>
                </td>
                <td>
                    <label>Nombre: </label>
                    {{formDatos.nombre}}
                    <p id="errores">
                        <span id="errorNombre"></span>
                    </p>
                </td>
            </tr>
             <tr>
                <td>
                    <label>Primer Apellido: </label>
                    {{formDatos.primer_apellido}}
                    <p id="errores">
                        <span id="errorPrimerApellido"></span>
                    </p>
                </td>
                <td>
                    <label>Segundo Apellido: </label>
                    {{formDatos.segundo_apellido}}
                    <p id="errores">
                        <span id="errorSegundoApellido"></span>
                    </p>

                </td>
            </tr>
             <tr>
                <td>
                    <label>Telefono: </label>
                    {{formDatos.telefono}}
                    <p id="errores">
                        <span id="errortelefono"></span>
                    </p>
                </td>
                <td style="text-align:right">
                    <button class="btn btn-primary btn-lg" id="enviar" type="submit" 
                    style= "background-color: #012e67">Enviar</button>
                </td>
            </tr>
             
        </table>
       
    </form>
</div>
<script type="text/javascript">
    


let nombre = document.getElementById("id_nombre");
let apellido1 = document.getElementById("id_primer_apellido");
let apellido2 = document.getElementById("id_segundo_apellido");
let dni = document.getElementById("id_dni");
let pass = document.getElementById("id_password1")
let pass1 = document.getElementById("id_password2")
let telefono=document.getElementById("id_telefono")


window.addEventListener("load", () => {
    
    dni.addEventListener("blur", validarDni);
    nombre.addEventListener("focusout", validarNombre);
    apellido1.addEventListener("blur", validarApe1);
    apellido2.addEventListener("focusout", validarApe2);
    pass.addEventListener("focusout",validarPass);
    pass1.addEventListener("focusout",compararPass);
    telefono.addEventListener("keypress", validarNumeros);
    telefono.addEventListener("blur", validarTelefono);
    
})


function validarDni(){
 
    let expresion =/^\d{8}[a-zA-Z]{1}$/;
    let spam = document.getElementById("errorDni"); 
    if (!expresion.test(dni.value)) {
        spam.innerHTML = "Debe introducir un numero de ocho digitos seguido de una letra";
        dni.focus();
    } else{
        let numero;
        let letra;
        let clave;
        numero=dni.value.substr(0,dni.value.length-1);
        letra=dni.value.substr(dni.value.length-1,1);
        letra=letra.toUpperCase();
        numero=numero%23;
        clave="TRWAGMYFPDXBNJZSQVHLCKET";
        clave=clave.substring(numero,numero+1);
        if(clave!=letra){
            spam.innerHTML = "DNI incorrecto";
            dni.focus();
        }else{
            spam.innerHTML = "";
        }
    }
    
 }

function validarNombre(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorNombre"); 
    if (!expresion.test(nombre.value)) {
        spam.innerHTML = "Debe introducir un nombre correcto";
        nombre.focus();
    } else{
        spam.innerHTML = "";
    }   
 }

function validarApe1(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorPrimerApellido"); 
    if (!expresion.test(apellido1.value)) {
        spam.innerHTML = "Debe introducir un apellido correcto";
        apellido1.focus();
    } else{
        spam.innerHTML = "";
    }   
 }

function validarApe2(){
    let expresion =/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]{2,20}$/;
    let spam = document.getElementById("errorSegundoApellido"); 
    if (!expresion.test(apellido2.value)) {
        spam.innerHTML = "Debe introducir un apellido correcto";
        apellido2.focus();
    } else{
        spam.innerHTML = "";
    }   
 }

function validarPass(){
    let expresion=/^[A-Za-z\d$@$!%*?&]{4,100}$/
    let spam = document.getElementById("errorPass1"); 
    if (!expresion.test(pass.value)) {
        spam.innerHTML = "la contraseña es demasiado corta";
        pass.focus();
    } else{
        spam.innerHTML = "";
        
    }   
 }

function compararPass(){
    let spam = document.getElementById("errorPass2"); 

    if (pass.value!=pass1.value){
        
        spam.innerHTML = "las contraseñas no coinciden";
        pass.focus();
    } else{
        spam.innerHTML = "";
        
    }   
 }

function validarNumeros(e) {
    console.log("entra")
    let evento = e || event;
    if (evento.which < 48 || evento.which > 57) {
        e.preventDefault();
    }

}

function validarTelefono(){
    let expresion =/^[0-9]{9}$/;
    let spam=document.getElementById("errortelefono")
     if (!expresion.test(telefono.value)) {
        spam.innerHTML = "Debe introducir un telefono correcto";
        telefono.focus();
    } else{
        spam.innerHTML = "";
    }  
}



</script>
{% endblock %}