#cabecera-fondo{
	background-color: #012e67;
}

#cabecera-frente{
	background-color: #012e67;
	padding:10px 0px;
}

#tdcabecera{

	width:10%; 
	border-left:solid 2px #ffffff; 
	padding:0 1%;
	color:#ffffff;
	text-align:center
}

#tdcabeceraregis{

	width:20%;
	border-left:solid 2px #ffffff; 
	padding:0 1%;
	color:#ffffff;
	text-align:center

}

#texto{
	color:#ffffff;
}

#tdfiltro{
	width: 20%;
	padding: 0px 20px;
}

#tdcabecera a {
  color: white;
  text-decoration: none;
}

h2{
	color:#012e67; 
	padding-top:10px;

}
h3{
	color:#012e67; 
	padding-top:10px;

}

h4{
	color:#012e67; 
	padding-top:10px;

}

#info td{
	background-color:#c5dcf6; 
	padding:10px 10px
}
#errores {
	font-size:10px;
	color: #FF0000;
} 

#registro{
	width: 50%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius:15px;
	border: solid 2px #919191;
	padding: 30px;
}
#tablaRegistro td{
	width: 50%;
	padding: 0px 5px;
}

#tablaregistrouser td{
	
	padding: 0px 5px;
}

#foto{
	position:relative;
	display:inline-block;
	
}

#foto button{

	position: absolute;
	top: 100%;
  left: 85%;
  transform: translate(-50%, -50%);
	
}

li{	
	
	padding: 10px;
}